<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadVideo">
    <input type="file" name="videoFile" accept="video/*" required>
    <input type="text" name="str" />
    <button type="submit">Загрузить видео</button>

</form>
